@model AzureRoadshow.VideoStore.Models.EF.BillingInformation

<div class="display-label">
    @Html.DisplayNameFor(model => model.Name)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.CreditCard)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.CreditCard)
</div>